<div class="container">
  <div class="row justify-content-md-center mt-3">
    <div class="col-md-9">
      <h2>Account</h2>
      <%= cl_image_tag @user.photo.key, class: "rounded-circle mr-3" , height: 50, width: 50, crop: :fill if @user.photo.attached? %>
      <%= @user.email%>
      <%= link_to  "Edit", edit_user_path(@user.id) %>
    </div>
  </div>
</div>
