<div class="container">
  <div class="row justify-content-md-center mt-3">
    <div class="col-md-9">
      <h2><%= link_to contacts_path, class: "text-reset" do %>Contacts<% end %> > Edit</h2>
      <%= render 'form', contact: @contact, event: @event %>
    </div>
  </div>
</div>
