<div class="container">
  <div class="row justify-content-md-center mt-3">
    <div class="col-md-9">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><%= link_to contacts_path, class: "text-reset" do %>Contacts<% end %></li>
          <li class="breadcrumb-item"><%= link_to contact_path(@contact), class: "text-reset" do %>Contact<% end %></li>
          <li class="breadcrumb-item active" aria-current="page">Edit event</li>
        </ol>
      </nav>
      <div class="container bg-white p-3">
        <%= render 'form', contact: @contact, event: @event %>
      </div>
    </div>
  </div>
</div>
