<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-9">
      <h2>Contacts</h2>
      <ul class="list-group">
        <% @contacts.each do |contact| %>
          <li class="list-group-item">
          <%= link_to contact_path(contact) do %>
            <%= contact.first_name %> <%= contact.last_name %>
          <% end %>
          </li>
        <% end %>
      </ul>
      <%= link_to "New", new_contact_path %>
    </div>
  </div>
</div>
